h1{
    color:darkblue;
    text-align: center;
}
*{border: solid}
p{
    color:red
}
h2{
    color:black;
}
.header{
    background-color: darkcyan;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



h2{
    text-align: center;
}

